.profile__user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 12px;
    min-width: 217px; 
}

@media (max-width: 550px) {
    .profile__user {
        justify-content: center;
        max-width: 282px;
        padding: 0;
    }    
}