.elements__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    max-width: 880px;
    margin: 51px auto;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    
}

@media all and (max-width: 360px) {
    .elements__box {
        margin: 36px auto 0;
        padding-bottom: 48px;
        max-width: 282px;
        gap: 20px;
    }
}