.popup__form {
    position: relative;
    background-color: #fff;
    color: #000;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: none;
    z-index: 2;
}

@media all and (max-width: 460px) {
    .popup__form {
        max-width: 282px;
        
        
    }
}
